@model Simulador.Models.Dato

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Datos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cap_max_tanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cap_max_tanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temp_inicial_tanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temp_inicial_tanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material_tanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material_tanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resistencia_watts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resistencia_watts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cant_ml_s)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cant_ml_s)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cant_ml_incial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cant_ml_incial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
